* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  line-height: 1.4;
  color: #585858;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.mobile-nav {
  display: none;
}

header {
  color: #fcae27;
  background-color: #221e13;
  padding: 0px;
  font-size: 30px;
  font-weight: 700;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content ul {
  list-style-type: none;
  display: flex;
}
header .content ul li {
  margin-right: 30px;
  cursor: pointer;
}
header .content ul li:hover {
  color: #fcfaf3;
}
.logo-name {
  font-family: "thuluth-decorated";
  margin: auto;
  font-size: 45px;
}
.logo-section {
  cursor: pointer;
  display: flex;
}
section.cover {
  margin-top: 26px;
}
section.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-cover {
  overflow: hidden;
  margin-bottom: 100px;
}
p.dots {
  font-size: 30px;
  margin: 45px auto;
  display: flex;
  justify-content: center;
  color: #f4a524;
}
footer {
  background-color: #221e13;
  padding: 20px 0px;
  margin-top: 10px;
}

.footer {
  font-weight: 700;
  font-size: 17px;
  direction: rtl;
  line-height: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fcfaf3;
}

footer img {
  width: 30px;
  height: 30px;
}
.contact ul,
.footer .info ul {
  list-style: none;
}
.contact ul li {
  display: flex;
  align-items: center;
}
.contact ul li img {
  margin-left: 5px;
}
.home-cover img {
  width: 100%;
  height: 100%;
}

.blog-list {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  position: relative;
  margin-bottom: 100px;
}
.books-list .blog-item {
  border: 1px solid #e4e1e1;
  background-color: white;
  box-shadow: 6px 5px 5px #c5c1c1;
}
.books-list {
  direction: rtl;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  position: relative;
  margin-bottom: 100px;
}
.blog-item .img {
  background-color: #f3f3f3;
  margin-bottom: 10px;
}
.blog-item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.blog-item small {
  color: #626161;
}
.blog-item .card-footer {
  margin-top: 14px;
}

.blog-item .card-footer div {
  direction: rtl;
  color: #626161;
  font-size: 14px;
}
/***about**/
.about {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}
.about {
  display: block;
}
.h1 {
  font-size: 20px;
  color: #d40505;
}
.h2 {
  font-size: 18px;
  color: #750606;
}
h3 {
  font-size: 17px;
}
.heading-about h1 {
  font-size: 70px;
  color: #d40505;
}
.heading-about h2 {
  font-size: 30px;
  color: #750606;
}
.heading-about h3 {
  font-size: 30px;
}
.goals {
  direction: rtl;
}
.goals h1,
.names h1 {
  font-size: 35px;
  line-height: 1.5;
  margin-top: 4%;
}
.goals p {
  font-size: 25px;
  line-height: 2;
  margin-top: 1%;
}
.names {
  direction: rtl;
  font-size: 20px;
  line-height: 2;
  margin-top: 1%;
  margin-bottom: 2%;
}
.sec-names {
  color: #585858;
  max-height: 500px;
  overflow: auto;
}
