* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  line-height: 1.4;
  color: #585858;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  padding: 20px 0px;
  font-size: 30px;
  font-weight: 700;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content ul {
  list-style-type: none;
  display: flex;
}
header .content ul li {
  margin-right: 30px;
  cursor: pointer;
}
.logo {
  width: 100px;
  height: 100px;
  margin-left: 2px;
}
.logo-name {
  font-family: "thuluth-decorated";
  margin: auto;
  font-size: 45px;
}
.logo-section {
  cursor: pointer;
  display: flex;
}
section.cover {
  margin-top: 26px;
}
section.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-cover {
  overflow: hidden;
}

p.dots {
  font-size: 30px;
  margin: 45px auto;
  display: flex;
  justify-content: center;
}

section.box-info {
  margin-bottom: 50px;
}
section.box-info h4 {
  margin-bottom: 14px;
}

footer {
  background-color: #eeeeeeab;
  padding: 20px 0;
  margin-top: 10px;
}

.footer {
  font-weight: 700;
  font-size: 17px;
  direction: rtl;
  line-height: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 30px;
  height: 30px;
}
.contact ul,
.footer .info ul {
  list-style: none;
}
.contact ul li {
  display: flex;
  align-items: center;
}
.contact ul li img {
  margin-left: 5px;
}
.home-cover img {
  width: 100%;
  height: 100%;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-bottom: 100px;
  direction: rtl;
}

.blog-list .blog-item .img {
  height: 200px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
}
.blog-list .blog-item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
/***about**/
.about {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}
.h1 {
  font-size: 20px;
  color: #d40505;
}
.h2 {
  font-size: 18px;
  color: #750606;
}
h3 {
  font-size: 17px;
}
.heading-about h1 {
  font-size: 70px;
  color: #d40505;
}
.heading-about h2 {
  font-size: 30px;
  color: #750606;
}
.heading-about h3 {
  font-size: 30px;
}
.goals {
  direction: rtl;
}
.goals h1,
.names h1 {
  font-size: 35px;
  line-height: 1.5;
  margin-top: 4%;
}
.goals p {
  font-size: 25px;
  line-height: 2;
  margin-top: 1%;
}
.names {
  direction: rtl;
  font-size: 20px;
  line-height: 2;
  margin-top: 1%;
  margin-bottom: 2%;
}
.sec-names {
  color: #585858;
  max-height: 500px;
  overflow: auto;
}
@media screen and (max-width: 720px) {
  .goals h1,
  .names h1 {
    font-size: 25px;
  }
  .names,
  .goals p {
    font-size: 20px;
  }
  .heading-about h1 {
    font-size: 30px;
  }
  .heading-about h2 {
    font-size: 25px;
    color: #750606;
  }
  .heading-about h3 {
    font-size: 20px;
  }
  .logo {
    width: 70px;
    height: 70px;
    margin-left: 2px;
  }
  header {
    font-size: 21px;
    font-weight: 700;
  }
  header .content ul li {
    margin-right: 15px;
  }
  .logo-name {
    font-size: 30px;
  }
  footer {
    background-color: #eeeeeeab;
    padding: 10px 0;
    margin-top: 5px;
  }

  .footer {
    font-weight: 500;
    font-size: 15px;
    direction: rtl;
    line-height: 2;
    display: block;
  }

  footer img {
    width: 20px;
    height: 20px;
  }
  .footer .contact,
  .footer .info {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
